{% extends "base.html" %} {% block content %}
<h1>Fullstack Machine Learning Project</h1>

<p>Please upload an image and insert your credential</p>

<form action="/file_upload" method="post" enctype="multipart/form-data">
  <input type="file" id="myfile" name="file_1" />
  <input type="email" name="email" placeholder="email" />
  <input type="password" name="user_key" placeholder="password" />
  <input class="" type="submit" />
</form>
<p>
  If you're not registered, you can't access the service. Press the button to go
  to the sign-up page.
</p>
<a href="/create_user"><button>Sign-up</button></a>
{% endblock content %}
